<div class='list-group' id="mollie-methods-list" style="margin-left: 50px">
  <% @payment_methods.each do |method| %>
      <label class='list-group-item' style="display: block;">

        <%= radio_button_tag  "order[payments_attributes][][mollie_method_id]", method['id'], false %>
        <img src="<%= method['image']['normal'] %>">
        <%= method['description'] %>
      </label>
      <% if method['id'] == 'ideal' %>
        <%= select_tag 'order[payments_attributes][][issuer_id]', options_for_select(@issuers), class: 'list-group-item', style: 'margin-left: 30px;' %>
      <% end %>


  <% end %>
</div>

<script>
  $(function(){
      $('#mollie-methods-list').on('change', function(){
          $('#mollie-methods-list input').each(function(){
              if( $(this).prop("checked") ) {
                  $(this).parent().addClass('active');
                  if( $(this).prop('value') == 'ideal') {
                      $('#mollie-methods-list select').show();
                  }
              } else {
                  $(this).parent().removeClass('active');
                  if( $(this).prop('value') == 'ideal') {
                      $('#mollie-methods-list select').hide();
                  }
              }
          });
      });
  });
</script>
