---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments
    body:
      encoding: UTF-8
      string: amount=19.99&description=Order%20R521816872&redirectUrl=http%3A%2F%2F127.0.0.1%3A53106%2Fmollie%2Fcheck_status%2FR521816872&metadata[order_id]=R521816872&method=
    headers:
      Authorization:
      - Bearer test_pw5ZHNihuiFKefzBwZVwAdKXt5C4Xe
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-4
    body:
      encoding: UTF-8
      string: '{"id":"tr_eMBDNZgBrT","mode":"test","createdDatetime":"2015-01-29T13:55:23.0Z","status":"open","expiryPeriod":"PT15M","amount":"19.99","description":"Order
        R521816872","method":null,"metadata":{"order_id":"R521816872"},"details":null,"links":{"paymentUrl":"https://www.mollie.com/payscreen/pay/eMBDNZgBrT","webhookUrl":"http://37094d3f.ngrok.com//mollie/notify","redirectUrl":"http://127.0.0.1:53106/mollie/check_status/R521816872"}}'
  recorded_at: Thu, 29 Jan 2015 13:55:23 GMT
- request:
    method: get
    uri: https://api.mollie.nl/v1/payments/tr_eMBDNZgBrT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_pw5ZHNihuiFKefzBwZVwAdKXt5C4Xe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-4
    body:
      encoding: UTF-8
      string: '{"id":"tr_eMBDNZgBrT","mode":"test","createdDatetime":"2015-01-29T13:55:23.0Z","status":"cancelled","cancelledDatetime":"2015-01-29T13:55:28.0Z","amount":"19.99","description":"Order
        R521816872","method":null,"metadata":{"order_id":"R521816872"},"details":null,"locale":"en","links":{"webhookUrl":"http://37094d3f.ngrok.com//mollie/notify","redirectUrl":"http://127.0.0.1:53106/mollie/check_status/R521816872"}}'
  recorded_at: Thu, 29 Jan 2015 13:55:29 GMT
- request:
    method: get
    uri: https://api.mollie.nl/v1/payments/tr_eMBDNZgBrT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_pw5ZHNihuiFKefzBwZVwAdKXt5C4Xe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-3
    body:
      encoding: UTF-8
      string: '{"id":"tr_eMBDNZgBrT","mode":"test","createdDatetime":"2015-01-29T13:55:23.0Z","status":"cancelled","cancelledDatetime":"2015-01-29T13:55:28.0Z","amount":"19.99","description":"Order
        R521816872","method":null,"metadata":{"order_id":"R521816872"},"details":null,"locale":"en","links":{"webhookUrl":"http://37094d3f.ngrok.com//mollie/notify","redirectUrl":"http://127.0.0.1:53106/mollie/check_status/R521816872"}}'
  recorded_at: Thu, 29 Jan 2015 13:55:30 GMT
recorded_with: VCR 2.9.3
