---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.nl/v1/payments/tr_kKFSWQRRwy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_pw5ZHNihuiFKefzBwZVwAdKXt5C4Xe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-3
    body:
      encoding: UTF-8
      string: '{"id":"tr_kKFSWQRRwy","mode":"test","createdDatetime":"2015-01-22T13:00:52.0Z","status":"cancelled","cancelledDatetime":"2015-01-22T13:01:43.0Z","amount":"99.99","description":"My
        Cool product","method":null,"metadata":null,"details":null,"locale":"en","links":{"webhookUrl":"https://37094d3f.ngrok.com/mollie/notify","redirectUrl":"http://mystore.com/orders/update"}}'
  recorded_at: Thu, 22 Jan 2015 13:02:13 GMT
recorded_with: VCR 2.9.3
