---
http_interactions:
- request:
    method: post
    uri: https://api.mollie.nl/v1/payments/tr_Et8BmUSq7B/refunds
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer test_pw5ZHNihuiFKefzBwZVwAdKXt5C4Xe
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-4
    body:
      encoding: UTF-8
      string: '{"id":"re_y3D86LgEda","payment":{"id":"tr_Et8BmUSq7B","mode":"test","createdDatetime":"2015-01-23T22:58:32.0Z","status":"refunded","paidDatetime":"2015-01-23T22:58:49.0Z","amount":"12.60","amountRefunded":"12.60","description":"Order
        R186871932","method":"creditcard","metadata":null,"details":{"cardHolder":"T.
        TEST","cardNumber":"6787","cardSecurity":"normal"},"locale":"en","links":{"webhookUrl":"http://4b7c5609.ngrok.com/mollie/notify","redirectUrl":"http://localhost:3000/orders/R186871932"}},"amount":"12.60","refundedDatetime":"2015-01-23T23:31:17.0Z"}'
  recorded_at: Fri, 23 Jan 2015 23:29:11 GMT
recorded_with: VCR 2.9.3
